<h1>Posts</h1>
<!-- <ul class="nav nav-tabs">
  <li>
  <li><%#= link_to 'New Post', new_post_path %></li>
</ul> -->

<table class="table table-striped">
  </tr>
<% @posts.each do |post| %>
  <tr>
    <td><%= link_to "#{post.title}", post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <tr>
    <td><%= post.body %>
      <h6>Comments:</h6>
      <%post.comments.each do |comment|%>
        <%=comment.body%> - by: <%=comment.commentor%><br>
      <%end%>
    </td>
    <td></td>
    <td></td>
  </tr>

<% end %>
</table>

<br />


